[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.sht,*.html,*.shtm,*.shtml,*.ng,*.htm}]
indent_style=space
indent_size=4

[*.css]
indent_style=space
indent_size=4

[{messages.*,spring.schemas,messages,spring.handlers,org.codehaus.groovy.runtime.ExtensionModule,*.properties}]
indent_style=space
indent_size=4

